@model IEnumerable<CurseProject.Models.Req_for_paym>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Номер договора</th>
            <th>Заявитель</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.contract.num_of_contr</td>
                <td>@item.contract.client.UserName</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-sm btn-danger">Снять заявку на выплату</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>